:root {
    --kitchen-color:blue;
    --room1-color: cyan;
    --corridor-color: pink;
    --bathroom1-color: white;
    --room2-color:orange;
    --bathroom2-color: purple;
    --sittingroom-color: gray;
    --room3-color: beige;
    --library-color: turquoise;
    --plants-color: green;
    --img-width: 560;
    --img-height: 560;
    --wrapper-width: 500;
    --wrapper-height: 500;
}

.home {
    position: relative;
    width: calc(1px * var(--wrapper-width));
    min-width: calc(1px * var(--wrapper-width));
    height: calc(1px * var(--wrapper-height));
    min-height: calc(1px * var(--wrapper-height));
    animation-name: grow;
    animation-delay: 0s;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.space#kitchen {
    position: absolute;
    top: calc(280px * var(--wrapper-height) / var(--img-height));
    right: calc(480px * var(--wrapper-width) / var(--img-width));
    bottom: calc(200px * var(--wrapper-height) / var(--img-height));
    left: calc(0px * var(--wrapper-width) / var(--img-width));
    width: calc(80px * var(--wrapper-width) / var(--img-width));
    height: calc(80px * var(--wrapper-height) / var(--img-height));
    background-color: var(--kitchen-color);
    z-index: 50;
}

.space#room1 {
    position: absolute;
    top: calc(360px * var(--wrapper-height) / var(--img-height));
    right: calc(400px * var(--wrapper-width) / var(--img-width));
    bottom: calc(120px * var(--wrapper-height) / var(--img-height));
    left: calc(80px * var(--wrapper-width) / var(--img-width));
    width: calc(80px * var(--wrapper-width) / var(--img-width));
    height: calc(80px * var(--wrapper-height) / var(--img-height));
    background-color: var(--room1-color);
    z-index: 50;
}

.space#corridor {
    position: absolute;
    top: calc(320px * var(--wrapper-height) / var(--img-height));
    right: calc(280px * var(--wrapper-width) / var(--img-width));
    bottom: calc(200px * var(--wrapper-height) / var(--img-height));
    left: calc(80px * var(--wrapper-width) / var(--img-width));
    width: calc(200px * var(--wrapper-width) / var(--img-width));
    height: calc(40px * var(--wrapper-height) / var(--img-height));
    background-color: var(--corridor-color);
    z-index: 50;
}

.space#bathroom1 {
    position: absolute;
    top: calc(360px * var(--wrapper-height) / var(--img-height));
    right: calc(340px * var(--wrapper-width) / var(--img-width));
    bottom: calc(0px * var(--wrapper-height) / var(--img-height));
    left: calc(165px * var(--wrapper-width) / var(--img-width));
    width: calc(55px * var(--wrapper-width) / var(--img-width));
    height: calc(80px * var(--wrapper-height) / var(--img-height));
    background-color: var(--bathroom1-color);
    z-index: 50;
}

.space#room2 {
    position: absolute;
    top: calc(120px * var(--wrapper-height) / var(--img-height));
    right: calc(120px * var(--wrapper-width) / var(--img-width));
    bottom: calc(360px * var(--wrapper-height) / var(--img-height));
    left: calc(360px * var(--wrapper-width) / var(--img-width));
    width: calc(80px * var(--wrapper-width) / var(--img-width));
    height: calc(100px * var(--wrapper-height) / var(--img-height));
    background-color: var(--room2-color);
    z-index: 70;
}

.space#bathroom2 {
    position: absolute;
    top: calc(360px * var(--wrapper-height) / var(--img-height));
    right: calc(0px * var(--wrapper-width) / var(--img-width));
    bottom: calc(140px * var(--wrapper-height) / var(--img-height));
    left: calc(440px * var(--wrapper-width) / var(--img-width));
    width: calc(120px * var(--wrapper-width) / var(--img-width));
    height: calc(60px * var(--wrapper-height) / var(--img-height));
    background-color: var(--bathroom2-color);
    z-index: 50;
}

.space#sittingroom {
    position: absolute;
    top: calc(120px * var(--wrapper-height) / var(--img-height));
    right: calc(120px * var(--wrapper-width) / var(--img-width));
    bottom: calc(200px * var(--wrapper-height) / var(--img-height));
    left: calc(280px * var(--wrapper-width) / var(--img-width));
    width: calc(160px * var(--wrapper-width) / var(--img-width));
    height: calc(240px * var(--wrapper-height) / var(--img-height));
    background-color: var(--sittingroom-color);
    z-index: 50;
}

.space#plants {
    position: absolute;
    top: calc(0px * var(--wrapper-height) / var(--img-height));
    right: calc(140px * var(--wrapper-width) / var(--img-width));
    bottom: calc(160px * var(--wrapper-height) / var(--img-height));
    left: calc(0px * var(--wrapper-width) / var(--img-width));
    width: calc(20px * var(--wrapper-width) / var(--img-width));
    height: calc(80px * var(--wrapper-height) / var(--img-height));
    background-color: var(--plants-color);
    z-index: 70;
}

.space#library {
    position: absolute;
    top: calc(230px * var(--wrapper-height) / var(--img-height));
    right: calc(0px * var(--wrapper-width) / var(--img-width));
    bottom: calc(5px * var(--wrapper-height) / var(--img-height));
    left: calc(40px * var(--wrapper-width) / var(--img-width));
    width: calc(120px * var(--wrapper-width) / var(--img-width));
    height: calc(5px * var(--wrapper-height) / var(--img-height));
    background-color: var(--library-color);
    z-index: 70;
}

.space#room3 {
    position: absolute;
    top: calc(120px * var(--wrapper-height) / var(--img-height));
    right: calc(0px * var(--wrapper-width) / var(--img-width));
    bottom: calc(200px * var(--wrapper-height) / var(--img-height));
    left: calc(440px * var(--wrapper-width) / var(--img-width));
    width: calc(120px * var(--wrapper-width) / var(--img-width));
    height: calc(240px * var(--wrapper-height) / var(--img-height));
    background-color: var(--room3-color);
    z-index: 50;
}

.space {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space > p {
    font-size: 10px;
}

.space:hover {
    box-shadow: 0 0 10px black;
}

.node {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}

.node:hover {
    transform: scale(1.2);
    background-color: aqua;
}

.node#sittingroom {
    position: absolute;
    bottom: calc(10px * var(--wrapper-height) / var(--img-height));
    left: calc(10px * var(--wrapper-width) / var(--img-width));
    z-index: 80;
}

.node#room3 {
    position: absolute;
    bottom: calc(10px * var(--wrapper-height) / var(--img-height));
    left: calc(10px * var(--wrapper-width) / var(--img-width));
    z-index: 80;
}

.node#room2 {
    position: absolute;
    bottom: calc(10px * var(--wrapper-height) / var(--img-height));
    left: calc(10px * var(--wrapper-width) / var(--img-width));
    z-index: 80;
}

.node#plants {
    position: absolute;
    bottom: calc(-20px * var(--wrapper-height) / var(--img-height));
    right: calc(-50px * var(--wrapper-width) / var(--img-width));
    z-index: 80;
}

.node#corridor {
    position: absolute;
    bottom: calc(15px * var(--wrapper-height) / var(--img-height));
    left: calc(25px * var(--wrapper-width) / var(--img-width));
    z-index: 80;
}

.node#entrance {
    position: absolute;
    top: calc(-40px * var(--wrapper-height) / var(--img-height));
    left: calc(15px * var(--wrapper-width) / var(--img-width));
    z-index: 80;
}

.node#kitchen {
    position: absolute;
    top: calc(45px * var(--wrapper-height) / var(--img-height));
    right: calc(10px * var(--wrapper-width) / var(--img-width));
    z-index: 80;
}